<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daddys40"
    android:versionCode="15"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <service android:name="com.daddys40.sleep.SleepService" >
        </service>

        <activity android:name="com.daddys40.deprecated.MainFragmentActivity" >
        </activity>
        <activity
            android:name="com.daddys40.LogoLodingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.daddys40.MainLoginActivity" >
        </activity>
        <activity android:name="com.daddys40.InvitedActivity" >
        </activity>
        <activity android:name="com.daddys40.InvitingActivity" >
        </activity>
        <activity android:name="com.daddys40.LoginActivity" >
        </activity>
        <activity android:name="com.daddys40.SignupActivity" >
        </activity>

        <!-- <activity android:name="com.daddys40.ResultActivity" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->


        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


        <!-- <data -->
        <!-- android:host="@string/kakaolink_host" -->
        <!-- android:scheme="@string/kakao_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity android:name="com.daddys40.deprecated.SettingActivityingActivity" > -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="com.daddys40.alarm.NotiDialogActivity" -->
        <!-- android:theme="@android:style/Theme.Dialog" > -->
        <!-- </activity> -->


        <!-- <receiver -->
        <!-- android:name="com.daddys40.alarm.AlarmReceiver" -->
        <!-- android:process=":remote" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <meta-data -->
        <!-- android:name="com.kakao.sdk.AppKey" -->
        <!-- android:value="@string/kakao_app_key" /> -->
    </application>

</manifest>